<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="connstrng" connectionString="Data Source=145.24.222.239,8080;Network Library=DBMSSOCN;Initial Catalog=Project3dbs;User ID=pm;Password=project3;"/>

  </connectionStrings>
</configuration>